.App {
    margin: 10px;
  }
  
  .card{
    margin: 5px;
  }
  
  .pilotSection{
    text-align: center;
    background-color: white;
  }
  
  .siteHeader{
    text-align: center;
    background-color: white;
  }

  .card{
    text-align: center;
    background-color: white;
    opacity: .3;
  }

  .submitButton {
    background-color: #0275D8;
    border-radius: 4px;
    margin: 10px;
  }

  .vehicleCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li {
    list-style: none;
  }

  