.App {
    margin: 10px;
  }
  
  .card{
    margin: 5px;
  }
  
  .pilotSection{
    text-align: center;
    background-color: white;
  }
  
  .starWarsVehicles{
    text-align: center;
    background-color: white;
  }

  .submitButton {
    background-color: #0275D8;
    border-radius: 4px;
    margin: 10px;
  }

  .vehicleCard {

  }