.App {
    margin: 10px;
  }
  
  .card{
    margin: 5px;
  }
  
  .pilotSection{
    text-align: center;
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .siteHeader{
    text-align: center;
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
  }

  .card{
    text-align: center;
    background-color: white;
    opacity: .6;
    margin: 5px 25px 5px 25px;
  }

  .submitButton {
    background-color: #0275D8;
    border-radius: 4px;
    margin: 10px;
  }

  p {
    color: black;
    font-weight: bold;
  }

  h4 {
    color: grey;
  }

  .container {
    width: 100%;
  }




  